@page
@model WebOAS.Pages.fsTrx.fsDtl.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>fsTrxDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fsTrxDetail.fsTrxHdrId" class="control-label"></label>
                <select asp-for="fsTrxDetail.fsTrxHdrId" class ="form-control" asp-items="ViewBag.fsTrxHdrId"></select>
            </div>
            <div class="form-group">
                <label asp-for="fsTrxDetail.fsAccountId" class="control-label"></label>
                <select asp-for="fsTrxDetail.fsAccountId" class ="form-control" asp-items="ViewBag.fsAccountId"></select>
            </div>
            <div class="form-group">
                <label asp-for="fsTrxDetail.fsSubAccntId" class="control-label"></label>
                <select asp-for="fsTrxDetail.fsSubAccntId" class ="form-control" asp-items="ViewBag.fsSubAccntId"></select>
            </div>
            <div class="form-group">
                <label asp-for="fsTrxDetail.Description" class="control-label"></label>
                <input asp-for="fsTrxDetail.Description" class="form-control" />
                <span asp-validation-for="fsTrxDetail.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fsTrxDetail.Debit" class="control-label"></label>
                <input asp-for="fsTrxDetail.Debit" class="form-control" />
                <span asp-validation-for="fsTrxDetail.Debit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fsTrxDetail.Credit" class="control-label"></label>
                <input asp-for="fsTrxDetail.Credit" class="form-control" />
                <span asp-validation-for="fsTrxDetail.Credit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
